.allCounters {
    display: flex;
    margin: auto;
    width: 540px;
}

.all {
    margin-top: 200px;
    margin-right: 40px;
    height: 200px;
    width: 250px;
    background-color: lightcyan;
    border-radius: 10px;
    border: 2px solid teal;
}
.all2 {

}


.monitor {
    margin: 20px auto;
    line-height: 100px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid teal;
    color: teal;

}

.number {

    font-size: 40px;

}

.numberMax {
    color: red;
    font-size: 60px;
    font-weight: bolder;
}

.button {
    height: 40px;
    width: 200px;
    border: 2px solid teal;
    border-radius: 10px;
    margin: 0 auto 20px;
    display: flex;
}

.increase {
    margin: 10px;
    background-color: teal;
    height: 20px;
    width: 50px;
    border-radius: 10px;
}

.reset {
    margin: 10px;
    background-color: teal;
    height: 20px;
    width: 150px;
    border-radius: 10px;
}

.set {
    margin: 10px auto;
    background-color: teal;
    height: 20px;
    width: 50px;
    border-radius: 10px;
}

.setMonitor {
    margin: 20px auto;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid teal;
    color: teal;

}

.input {
    width: 70px;
    margin: 0 0 0 auto;
    margin-right: 10px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid teal;
    color: teal;
    text-align: center;

}

.inputError {
    width: 70px;
    margin: 0 0 0 auto;
    margin-right: 10px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid teal;
    color: teal;
    text-align: center;
    background-color: palevioletred;
}

.value {
    font-size: 18px;
    margin-left: 10px;
    height: 20px;
}

.string {
    display: flex;
    margin: 15px 0;
}

.errorText {
    font-size: 16px;
    color: palevioletred;
}

.instructions {
    font-size: 16px;
    margin: 0 auto;
    height: 100px;
}


